name: Build

on:
  push:
    branches:
      - "master"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'README*'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3.5.3

    - name: Set up JDK 11
      uses: actions/setup-java@v4.0.0
      with:
        distribution: 'zulu'
        java-version: 11

    - name: Cache local Maven repository
      uses: actions/cache@v3.3.1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Build with Maven
      run: mvn -B formatter:validate verify --file pom.xml

